body.boxed .wrapper {
	background-color: transparent;
	border: 0;
}
h2 {
	font-family: "Great Vibes", cursive;
}
.heading {
	margin-bottom: 30px;
}
.heading h2 {
	font-family: "Great Vibes", cursive;
	font-size: 95px;
	text-transform: none;
	font-weight: 100;
}
.heading:after {
	border: 0;
}
.wedding-event {
	border-right: 3px dotted #fff;
}
.circle-2 {
	border-radius: 50%;
	height: 370px;
	text-align: center;
	width: 370px;
	background-color: #fff;
	color: #fff;
	float: right;
}
.circle-2 h3 {
	font-family: "Great Vibes", cursive;
	font-style: italic;
	font-weight: 100;
	line-height: 150%;
	margin-bottom: 0;
	opacity: 1;
	width: 100%;
	font-size: 68px;
}

@media (max-width: 479px) {
	.circle-2 {
		height: 274px;
		margin: 0 auto;
		width: 274px;
		float: none !important;
	}
}

.wedding-circle-image {
	margin: 0 auto 20px;
	width: 220px;
}
.wedding-circle-image img {
	border: 8px solid #fff;
	border-radius: 50%;
	margin: 0 auto;
	width: 100%;
}

/*gallery*/

.wedding-gallery-item img {
	width: 100%;
}
.wedding-gallery-item {
	border: 0 none;
	padding: 0px;
	position: relative;
	transition: all 0.3s ease-in-out 0s;
	z-index: 2;
}
@media (min-width: 768px) {
	.wedding-gallery-item {
		margin-bottom: 0;
		padding: 0px !important;
		transform: rotate(-2deg);
	}
	.wedding-gallery-item:nth-child(5n) {
		transform: rotate(-4deg);
	}
	.wedding-gallery-item:nth-child(3n) {
		transform: rotate(3deg);
	}
	.wedding-gallery-item:nth-child(6n) {
		transform: rotate(4deg);
	}
	.wedding-gallery-item:hover {
		transform: rotate(0deg) scale(1.1);
		z-index: 99;
	}
}
.wedding-gallery-item a {
	background-color: #fff;
	border: solid transparent;
	border-radius: 0;
	color: #111111;
	display: block;
	padding: 8px;
	position: relative;
}
.wedding-gallery-item a:hover {
	background: #ffffff none repeat scroll 0 0;
	text-decoration: none;
}
.wedding-gallery-item a:hover .picture-legend::before {
	border-color: #d1837e;
}
.wedding-gallery-item a:hover .picture-legend::after {
	border-color: #d1837e;
}
.wedding-gallery-item .mask {
	background: #000 none repeat scroll 0 0;
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transition: all 0.3s ease-in-out 0s;
	width: 100%;
	z-index: 222;
}
.wedding-gallery-item img {
	position: relative;
	z-index: 8;
}
.picture-legend {
	font-family: "Great Vibes", cursive;
	font-size: 22px;
	color: 777;
	font-weight: 200;
	padding-top: 10px;
	text-align: center;
	transition: all 0.3s ease-in-out 0s;
}
