{% load static %}

<link href="{% static 'css/plugins.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet"><!-- LOAD JQUERY LIBRARY -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet"><!-- LOAD JQUERY LIBRARY -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
    <!-- LOADING FONTS AND ICONS -->
    <link href="//fonts.googleapis.com/css?family=Roboto%3A700%2C900%2C400%2C500" rel="stylesheet" property="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Gloria+Hallelujah%3A400" rel="stylesheet" property="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'slider-revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'slider-revolution/fonts/font-awesome/css/font-awesome.css' %}"> <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="{% static 'slider-revolution/css/settings.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'slider-revolution/css/layers.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'slider-revolution/css/navigation.css' %}">
    <link href="{% static "tinymce/css/prism.css" %}" rel="stylesheet">
    <!-- REVOLUTION JS FILES -->
    <script type="text/javascript" src="{% static 'slider-revolution/js/jquery.themepunch.tools.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'slider-revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript" src="{% static 'slider-revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'slider-revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'slider-revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'slider-revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'slider-revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'slider-revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'slider-revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'slider-revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'slider-revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
