{% load static %}
{% load render_partial %}

<!DOCTYPE html>
<html lang="en">
<head>
<!-- Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="INSPIRO" />    
<meta name="description" content="Themeforest Template Polo">
<link rel="icon" type="image/png" href="{% static 'images/hossshakiba.jpeg' %}">   
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Document title -->
<title>Hoss Shakiba</title>


{% include 'shared/_HeaderReferences.html' %}
{% block header_ref  %}
{% endblock header_ref  %}

</head>

<body>

{% block header_block %}
{% endblock header_block %}

{% comment %} {% render_partial 'header' %} {% endcomment %}
{% include 'shared/Header.html' %}

{% block content %}
{% endblock content %}

{% render_partial 'footer' %}
    <!-- Scroll top -->

{% include 'shared/_FooterReferences.html' %}

{% block footer_ref %}
{% endblock footer_ref %}
</body>
</html>