        <!-- Footer -->
        <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
        <footer id="footer">

            <div class="copyright-content">
                <div class="container">
                    <div class="copyright-text text-center">&copy;2020 DEVELOPED BY HOSS SHAKIBA with
                          <a><i class="fas fa-heart"></i>|<i class="fab fa-python"></i></a></div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->